* {
  margin: 0;
  max-width: 100%;
}

html, body {
  height: 100%;
  background-color: #01142C;
}

.full-height {
  height: 100%;
  overflow: hidden;
}

.headContainer {
  padding-top: 3%;
  padding-bottom: 3%;
  height: 300px;
  padding-left: 1%;
  padding-right: 2%;
}

.header {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/levi-price-35655-unsplash.jpg);
  padding: 1%;
  color: white;
  font-family: var(--font-one);
  border-radius: 1%;
  text-align: center;
}

h1 {
  font-size: 6em;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

h2 {
  font-size: 3em;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

h3 {
  font-size: 2.25rem;
  padding-top: 1%;
}

h4 {
  font-size: 1.5rem;
}

i {
  font-size: 1rem;
}

.about {
  font-family: var(--font-two);
  margin-left: 4%;
  margin-right: 4%;
  font-size: .9rem;
  text-align: left !important;
}

.contact{
  margin:0;
}

.btnContainer {
  padding-left: 1%;
}

.btn {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
  padding-left: 1%;
}

button { 
  margin: 80px;
}

.row {
  padding-left: 2%;
}

.submitForm {
  width:95%;
  margin-left:auto;
}

label {
  font-family: var(--font-two);
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-it:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2%;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #1F406B;
  color: white;
  font-family: var(--font-one);
  transform: rotateY(180deg);
  z-index: 1;
}

.lock .flip-card-inner {
  transform: rotateY(180deg);
} 