:root {
    --red: #9E4347; 
    --pink:#E9A4A7; 
    --darkpink: #BF696D; 
    --darkred: #81262A; 
    --darkdarkred :#5A0C10; 

    --orange:#A16C44;
    --lightorange: #EDC5A7;
    --beige: #EDC5A7;
    --darkorange: #C3916B;
    --brown: #5B2E0C;

    --blue:#2A635F;
    --lightestblue:#66928F ;
    --lightblue:#427874 ;
    --darkblue:#18504C ;
    --darkestblue:#073835 ;

    --green:#3F8438;
    --lightestgreen:#8EC288;
    --lightgreen:#5E9F57 ;
    --darkgreen:#276B20 ;
    --darkestgreen:#104B0A ;

    
    --font-one: 'Indie Flower', cursive;
    --font-two: 'Roboto Condensed', sans-serif;
    --font-three:'Roboto Slab', serif;
}